login-home {
	height: 100vh;
	width: 100%;
	background: #f7f5f5;
	padding: 30px;
	position: relative;
	.logo {
		margin-top: 40px;
		height: 230px;
		width: 100%;
		margin-left: 5px;
	}
	.btn-start {
		border: 0;
		border-radius: 0;
		background: none;
		-webkit-appearance: none;
		bottom: 100px;
		background: #ffc82f;
		height: 50px;
		width: 116%;
		font-weight: bold;
		font-size: 15px;
		border-radius: 50px;
	}
	.bottom {
		position: absolute;
		bottom: 100px;
		width: 70%;
	}
	div#logo_image {
		height: 400px;
		width: 100%;
		content:url('../assets/imgs/off_logo.png');
	}
}