login-home {
	height: 100vh;
	width: 100%;
	background: #f7f5f5;
	/*padding: 30px;*/
	position: relative;
	.logo {
		margin-top: 40px;
		height: 100%;
		width: 100%;
		/*margin-left: 5px;*/
	}
	.btn-start {
		border: 0;
		border-radius: 0;
		background: none;
		-webkit-appearance: none;
		bottom: 100px;
		background: #ffc82f;
		height: 50px;
		width: 116%;
		font-weight: bold;
		font-size: 15px;
		border-radius: 50px;
		margin: 0 13%;
	}
	.bottom {
		position: absolute;
		bottom: 100px;
		width: 70%;
	}

	div#logo_image {
		height: 83%;
		width: 100%;
		content:url('../assets/imgs/off_logo.png');
		position:absolute;
		margin:0px auto;
		/*width: auto;*/
		height: auto;
		top: 0;
		left: 0;
		clear: both;
		/*margin-left: 3%;*/
	}

	button.btn-start {
    color: #fff;
    text-shadow: 0px 1px 2px #b58500; 
	}

	/*.logo{
		margin:0 auto;
		position:fixed;
		margin:auto;
		width: auto;
		top: 0;
		left: 0;
		clear: both;

	}*/

	.logo_image{
		margin: 0 auto;
		position: absolute;
		margin: auto;
	}
}