page-home {

}


.toolbar-title.toolbar-title-ios {
    color: #fff;
    text-shadow: 1px 1px 1px #bf8c00;
}



button.btn-start {
    color: #fff;
    text-shadow: 1px 1px 1px #bf8c00;
    font-size: 100px;
}