// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.toolbar-background.toolbar-background-ios {
    background: #ffc82f;
}
.toolbar-ios {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 60px;
}
.toolbar-title-ios {
    color: #635f5f;
}

/*.tabs .tab-item .icon.home-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('http://localhost:8100/assets/imgs/home.png');
  background-size:contain;
}*/
.ion-ios-homecustom-outline,
.ion-ios-homecustom,.ion-md-homecustom,.ion-md-homecustom-outline {
  content: url('http://localhost:8100/assets/imgs/home.png');
}
.ion-ios-activities-outline,
.ion-ios-activities,.ion-md-activities,.ion-md-activities-outline {
  content: url('http://localhost:8100/assets/imgs/activities.png');
}
.ion-ios-profile-outline,
.ion-ios-profile,.ion-md-profile,.ion-md-profile-outline {
  content: url('http://localhost:8100/assets/imgs/profile.png');
}
.tabs-ios .tab-button-icon {
    margin-top: 4px;
    margin-bottom: 1px;
    min-width: 35px;
    height: 40px;
    font-size: 30px;
    color: #8c8c8c;
}
.tabs-ios .tabbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
     /*border-top: none;*/
    background: none;
}
.tabs-ios .tabbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* border-top: none; */
    height: 65px;
    background: none;
}